<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" /> <!-- JavaのnullをJDBCのNULLとして扱う -->
		<setting name="defaultFetchSize" value="100" /> <!-- １度にデータを取得する件数の初期値 -->
	</settings>
</configuration>
